
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:fragment="header">

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid" style="max-width:1430px">
            <a class="navbar-brand" href="/index"><i class="fas fa-home"></i> HPC Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"  th:classappend="${#request.requestURI == '/heatMap' ? 'active':''}"><a class="nav-link" href="#" th:href="@{/heatMap}">Heat Map</a></li>

                    <li class="nav-item"  th:classappend="${#request.requestURI == '/multiCPUCharts' ? 'active':''}"><a class="nav-link" href="#" th:href="@{/multiCPUCharts}">Multi CPU Charts</a></li>

                    <li class="nav-item"  th:classappend="${#request.requestURI == '/singleCPUCharts' ? 'active':''}"><a class="nav-link" href="#" th:href="@{/singleCPUCharts}">Single CPU Charts</a></li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <li class="nav-item dropdown"  th:classappend="|${#request.requestURI == '/dashboard' ? 'active':''} ${#request.requestURI == '/averagedResults' ? 'active':''} ${#request.requestURI == '/reports' ? 'active':''} ${#request.requestURI == '/singleCPUResult' ? 'active':''} ${#request.requestURI == '/partComparison' ? 'active':''} ${#request.requestURI == '/scalingComparison' ? 'active':''}|" >
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Additional views</a>
                        <div class="dropdown-menu dropdown-content" style="background-color: #343A40;">
                            <a class="dropdown-item" href="#" th:href="@{/dashboard}">Export raw</a>
                            <a class="dropdown-item" href="#" th:href="@{/averagedResults}">Export aggregated</a>
<!--                            <a class="dropdown-item" href="#" th:href="@{/reports}">Reports</a>-->
                            <a class="dropdown-item" href="#" th:href="@{/uProfRadar}">uProf Radar Chart</a>
                            <a class="dropdown-item" href="#" th:href="@{/singleCPUResult}" >Single CPU Result </a>
                            <a class="dropdown-item" href="#" th:href="@{/partComparison}">Part Comparison</a>
                            <a class="dropdown-item" href="#" th:href="@{/scalingComparison}">Scaling Comparison</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" th:classappend="|${#request.requestURI == '/application' ? 'active':''} ${#request.requestURI == '/benchmark' ? 'active':''} ${#request.requestURI == '/cpu' ? 'active':''} ${#request.requestURI == '/processorInsert' ? 'active':''} ${#request.requestURI == '/appCategoryInsert' ? 'active':''} ${#request.requestURI == '/appMetricInsert' ? 'active':''} ${#request.requestURI == '/userList' ? 'active':''}|" >
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WIP</a>
                        <div class="dropdown-menu dropdown-content" style="background-color: #343A40;">
                            <a class="dropdown-item" href="#" th:href="@{/application}">Applications</a>
                            <a class="dropdown-item" href="#" th:href="@{/benchmark}">Benchmarks</a>
                            <a class="dropdown-item" href="#" th:href="@{/cpu}">CPU</a>
                            <a class="dropdown-item" href="#" th:href="@{/processorInsert}">Processor Insert</a>
                            <a class="dropdown-item" href="#" th:href="@{/appCategoryInsert}">App Category Insert </a>
                            <a class="dropdown-item" href="#" th:href="@{/appMetricInsert}">App Metric Insert </a>
                            <a class="dropdown-item" href="#" th:href="@{/userList}">User List </a>
                        </div>
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp
                    <li class="nav-item" th:classappend="${#request.requestURI == '/logout' ? 'active':''}"><a class="nav-link" href="#" th:href="@{/logout}">Logout</a></li>
                    <li class="nav-item" th:classappend="${ 'active'}"><a class="nav-link" href="mailto:sai.kovouri@amd.com?subject=Feedback for HPC dashboard  "><i class="fa fa-fw fa-envelope"></i>Feedback</a></li>


                </ul>

            </div>

            <ul class="navbar-nav ml-auto">

            </ul>
        </div>

    </nav>

    </body>
</div>
</html>



