<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{assets/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>CPU Form</title>
</head>
<body>

<div th:insert="~{fragments/header :: header}">...</div>


<br>
<br>

<div class="container-fluid" style="max-width:1500px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h2>CPU Insert Form</h2>

            <div th:if="${param.success}">
                <div class="alert alert-success">CPU Data is successfully inserted!</div>
            </div>

            <div th:if="${param.failure}">
                <div class="alert alert-warning">Please provide date in the below format (job_id,app_name,bm_name,nodes,cores,node_name,result,cpu)</div>
            </div>

            <form th:action="@{/cpu}"  method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>


                <div class="form-group">
                    <label for="result" class="control-label"></label> <input type="text"
                                                                              id="result" name="result" class="form-control"
                                                                              autofocus="autofocus" placeholder="" th:name="data"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>