<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link th:rel="icon" th:href="@{assets/favicon.ico}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>Heat Map</title>
    <style>

    </style>

</head>

<div th:insert="~{fragments/header :: header}">...</div>

<br>

<div class="container-fluid" style="max-width:1480px; padding:0;">

    <div class="row" >

        <div id="workloadCheckBox" style="display:none; margin-left:24px" >

        </div>

    </div>


    <div class="row" style="margin-top:20px">


<!--        <div id="cpu1" class="custom-control col-sm-2 dropdown custom-control-inline">-->
<!--            <select class="form-control form-control-sm" id="cpuDrop1" name="cpuDrop1">-->

<!--                <option value="" selected="true" disabled="disabled">&#45;&#45; CPU1 &#45;&#45;</option>-->

<!--                <optgroup th:each="cpuGen : ${cpuMap}"-->
<!--                          th:label="${cpuGen.key}">-->
<!--                    <option th:each="cpu : ${cpuGen.value}"-->
<!--                            th:value="${cpu}"-->
<!--                            th:text="${cpu}">-->
<!--                    </option>-->
<!--                </optgroup>-->


<!--            </select>-->
<!--        </div>-->


        <div id="cpu1" class="custom-control col-sm-2 dropdown custom-control-inline">
            <select class="form-control form-control-sm" id="cpuDrop1" name="cpuDrop1">
                <option value="" selected="true" disabled="disabled">-- CPU1 --</option>
            </select>
        </div>


        <div id="cpu2" class="custom-control col-sm-2 dropdown custom-control-inline">
            <select class="form-control form-control-sm" id="cpuDrop2" name="cpuDrop2">
                <option value="" selected="true" disabled="disabled">-- CPU2 --</option>
            </select>
        </div>

        <div id="cpu3" class="custom-control col-sm-2 dropdown custom-control-inline">
            <select class="form-control form-control-sm" id="cpuDrop3" name="cpuDrop1">
                <option value="" selected="true" disabled="disabled">-- CPU3 --</option>
            </select>
        </div>


        <div id="cpu4" class="custom-control col-sm-2 dropdown custom-control-inline">
            <select class="form-control form-control-sm" id="cpuDrop4" name="cpuDrop2">
                <option value="" selected="true" disabled="disabled">-- CPU4 --</option>
            </select>
        </div>

        <div id="isv" class="custom-control col-sm-2 dropdown custom-control-inline" >
            <select class="form-control form-control-sm" id="isvDrop" name="isvDrop">
                <option value="All" selected="true" >All</option>
            </select>
        </div>


    </div>

    <div class="row"  style="margin-top:20px">

        <div id="type1" class="custom-control col-sm-2 dropdown custom-control-inline">
            <select class="form-control form-control-sm" id="typeDrop1" name="typeDrop1">
                <option value="" selected="true" disabled="disabled">-- RunType1 --</option>
            </select>
        </div>


        <div id="type2" class="custom-control col-sm-2 dropdown custom-control-inline" >
            <select class="form-control form-control-sm" id="typeDrop2" name="typeDrop2">
                <option value="" selected="true" disabled="disabled">-- RunType2 --</option>
            </select>
        </div>

        <div id="type3" class="custom-control col-sm-2 dropdown custom-control-inline" >
            <select class="form-control form-control-sm" id="typeDrop3" name="typeDrop3">
                <option value="" selected="true" disabled="disabled">-- RunType3 --</option>
            </select>
        </div>

        <div id="type4" class="custom-control col-sm-2 dropdown custom-control-inline" >
            <select class="form-control form-control-sm" id="typeDrop4" name="typeDrop4">
                <option value="" selected="true" disabled="disabled">-- RunType4 --</option>
            </select>
        </div>

<!--        style="display:none;" -->

        <div id= "clear" class="input-group-btn" style="margin-left:25px; margin-top:-1px" >

            <button class="btn btn-info btn-rounded btn-sm" id="clearButton">Clear</button>
        </div>

    </div>


    <div id="heading" style="margin-left:10px;display:none;margin-top:20px">

    </div>


    <div  id="tableHeatMap" style="margin-left:10px; margin-top:20px">

    </div>


    <p id="footnote" style="display:none;">
        <a  data-toggle="collapse" style="text-decoration:none;color: black;font-weight: bold;" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
            <i class="fa fa-fw fa-plus"></i>   Footnotes:
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <p>Configuration information for performance data:</p>
            <ul>
                <li> All Rome testing performed on RHEL 7.x with perf determinism.</li>
                <ul>
                    <li> Exception:  Abaqus Explicit and All open-source codes (e.g. WRF) are run on RHEL8.3 for 7742.</li>
                </ul>
                <ul>
                    <li> Exception:  Fluent, CFX, Star-CCM+, and LS-DYNA were run on SLES 12 SP5 for 7742.</li>
                </ul>
            </ul>
            <ul>
                <li> All Milan testing performed on SLES 12 SP5 with power determinism.</li>
                <ul>
                    <li> Exception:  Abaqus Explicit and All open-source codes (e.g. WRF) are run on RHEL8.3 for all Milan CPUs.</li>
                </ul>
            </ul>

            <ul>
                <li> All Intel testing performed on SLES 12 SP5.</li>
                <ul>
                    <li> Exception:  WRF was run on RHEL 8.3 for Intel processors.</li>
                </ul>
            </ul>

            <ul>
                <li> All AMD Processors were run at their default TDP.</li>
                <ul>
                    <li> Exception:  7742 was configured to 240W.</li>
                </ul>
                <ul>
                    <li>  Exception:  7763 and 75F3 were configured to 300amps.</li>
                </ul>
            </ul>

            <ul>
                <li> Application versions may vary between Naples, Rome, and Milan.</li>
            </ul>

        </div>
    </div>


</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.js}"></script>
<script type="text/javascript" th:src="@{assets/custom/heatMap.js}"></script>

</body>
</html>