<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link rel="icon" th:href="@{assets/favicon.ico}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>Multi Charts</title>
    <style>

    </style>

</head>

<div th:insert="~{fragments/header :: header}">...</div>

<br>

<div class="container-fluid" style="max-width:1460px; padding:0;">

    <div id="workloadCheckBox" style="display:none;" >

    </div>


    <div class="row" style="margin-top: 14px;">
        <div id="app" class="col-sm-2 dropdown" >
            <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                <option value="" selected="true" disabled="disabled">-- App --</option>
            </select>
        </div>

    </div>


    <div id="typeCheckBox" style="margin-top: 14px;display:none;">
        <!--    contents from js-->
    </div>


    <div id="checkbox" style="margin-top: 14px;display:none;">
        <!--    contents from js-->
    </div>


    <div id= "clear" class="input-group-btn" style="margin-top:8px; display:none;" >

        <button class="btn btn-info btn-rounded" id="clearButton">Clear</button>
    </div>


    <div class="row">
        <div id="multiChart" class="col-md-6 mt-2 mb-2" style="margin-left:100px">
            <canvas id="multiBarChart" width="450" height="300" role="img"></canvas>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <h6 style="margin-left:100px;display:none;" id="p1">Relative performance</h6><br>
            <div class="table-responsive" id="tableNew" style="margin-left:100px"></div>
        </div>

        <div class="col-md-12">
            <h6 style="margin-left:100px;display:none;" id="p2">Raw data</h6> <br>
            <div class="table-responsive" id="tableRaw" style="margin-left:100px"></div>
        </div>

    </div>


    <p id="footnote" style="margin-left:100px; margin-top:15px; display:none;">
        <a  data-toggle="collapse" style="text-decoration:none;color: black;font-weight: bold;" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
            <i class="fa fa-fw fa-plus"></i>   Footnotes:
        </a>
    </p>
    <div style="margin-left:100px; " class="collapse" id="collapseExample">
        <div class="card card-body">
            <p>Configuration information for performance data:</p>
            <ul>
                <li> All Rome testing performed on RHEL 7.x with perf determinism.</li>
                <ul>
                    <li> Exception:  Abaqus Explicit and All open-source codes (e.g. WRF) are run on RHEL8.3 for 7742.</li>
                </ul>
                <ul>
                    <li> Exception:  Fluent, CFX, Star-CCM+, and LS-DYNA were run on SLES 12 SP5 for 7742.</li>
                </ul>
            </ul>
            <ul>
                <li> All Milan testing performed on SLES 12 SP5 with power determinism.</li>
                <ul>
                    <li> Exception:  Abaqus Explicit and All open-source codes (e.g. WRF) are run on RHEL8.3 for all Milan CPUs.</li>
                </ul>
            </ul>

            <ul>
                <li> All Intel testing performed on SLES 12 SP5.</li>
                <ul>
                    <li> Exception:  WRF was run on RHEL 8.3 for Intel processors.</li>
                </ul>
            </ul>

            <ul>
                <li> All AMD Processors were run at their default TDP.</li>
                <ul>
                    <li> Exception:  7742 was configured to 240W.</li>
                </ul>
                <ul>
                    <li>  Exception:  7763 and 75F3 were configured to 300amps.</li>
                </ul>
            </ul>

            <ul>
                <li> Application versions may vary between Naples, Rome, and Milan.</li>
            </ul>

        </div>
    </div>

</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/customMultiChart.js}"></script>

</body>
</html>