<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{assets/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <title>Registration</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid" style="max-width:1400px">
        <a class="navbar-brand" href="/index"><i class="fas fa-home"></i> EPYC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#"  th:href="@{/login}">Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>




<br>

<div class="container-fluid" style="max-width:1400px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p>You've successfully registered!</p>
                    <p>Please check your email to verify your account.</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <h3>Registration</h3>
            <br>
            <form th:action="@{/register}" th:object="${user}" method="post" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please agree the terms to not share the contents outside AMD'); return false; }">

                <p class="error-message" style="color: red;" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">First name</label> <input
                        id="firstName" class="form-control" th:field="*{firstName}" />
                    <p class="error-message" style="color: red;"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Last name</label> <input
                        id="lastName" class="form-control" th:field="*{lastName}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                    <label for="userName" class="control-label">User name</label> <input
                        id="userName" class="form-control" th:field="*{userName}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('userName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Confirm
                        e-mail</label> <input id="confirmEmail" class="form-control"
                                              th:field="*{confirmEmail}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Confirm
                        password</label> <input id="confirmPassword" class="form-control"
                                                type="password" th:field="*{confirmPassword}" />
                    <p class="error-message" style="color: red;"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group ">
                    <input type="checkbox" name="checkbox" value="check" id="agree" /> <b> &nbsp I agree not to share the results from this website outside AMD without prior approval</b>

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
        here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>