<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap4.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"/>
    <link rel="icon" th:href="@{assets/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <title>Average results</title>
</head>

<body>

<div th:insert="~{fragments/header :: header}">...</div>

<div class="container-fluid" style="margin-top:5px">


    <div class="row">

        <div class="col-custom-1">

        </div>
        <div class="col-custom-2" style="margin-top:60px">

            <div id="segement" class="dropdown">
                <select class="form-control form-control-sm" id="segmentDrop" name="appDrop">
                    <option  selected="true" disabled="disabled">-- Segment --</option>
                    <option th:each="segment : ${segments}"
                            th:value="${segment}"
                            th:text="${segment}"></option>
                </select>
            </div>

            <div id="app" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                    <option  selected="true" disabled="disabled">-- App --</option>
                    <option th:each="app : ${apps}"
                            th:value="${app}"
                            th:text="${app}"></option>
                </select>
            </div>

            <div id="bm" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="bmDrop" name="bmDrop">
                    <option selected="true" disabled="disabled">-- Benchmark --</option>
                </select>
            </div>

            <div id="node" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="nodeDrop" name="nodeDrop">
                    <option selected="true" disabled="disabled">-- Node count --</option>
                    <option th:each="node : ${nodes}"
                            th:value="${node}"
                            th:text="${node}"></option>
                </select>
            </div>


            <div id="cpuGen" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="cpuGenDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- CPU Gen --</option>
                    <option th:each="cpugen : ${cpugens}"
                            th:value="${cpugen}"
                            th:text="${cpugen}"></option>
                </select>
            </div>

            <div id="cpu" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- CPU --</option>
                    <option th:each="cpu : ${cpus}"
                            th:value="${cpu}"
                            th:text="${cpu}"></option>
                </select>
            </div>


            <div id="runType" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="runTypeDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Run Type --</option>
                    <option th:each="runtype : ${runtypes}"
                            th:value="${runtype}"
                            th:text="${runtype}"></option>
                </select>
            </div>

            <div id="runCount" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="runCountDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Run Count --</option>
                    <option th:each="runCount : ${runCounts}"
                            th:value="${runCount}"
                            th:text="${runCount}"></option>
                </select>
            </div>

            <div id="category" class="dropdown" style="margin-top:10px">
                <select class="form-control form-control-sm" id="categoryDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Category --</option>
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:text="${category}"></option>
                </select>
            </div>


            <div class="input-group-btn" style="margin-top:8px; margin-left:52px;" >

                <button class="btn btn-sm btn-info btn-rounded" id="clearButton">Clear</button>
            </div>



        </div>

        <div class="col-sm-10">
            <div class="col-lg-12 mt-3 mb-3 table-responsive">
                <table id="average" class="table table-bordered" style="width: 100%">
                    <thead bgcolor="#D3D3D3">
                    <tr>
                        <th>Segment</th>
                        <th>Application</th>
                        <th>Benchmark</th>
                        <th>Node count</th>
                        <th>CPU</th>
                        <th>Cores</th>
                        <th>Avg result</th>
                        <th>Perf per core</th>
                        <th>Avg result HIB</th>
                        <th>Perf per core HIB</th>
                        <th>Variance</th>
                        <th>Run count</th>
                        <th>Run type</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.js"></script>


<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{assets/custom/averageDashboard.js}"></script>

</body>
</html>