<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{assets/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <title>Result Form</title>
</head>
<body>

<div th:insert="~{fragments/header :: header}">...</div>

<br>
<br>

<div class="container-fluid" style="max-width:1400px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h3>Result Form</h3>
            <br>
            <div th:if="${successMessage}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <div th:text="${successMessage}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div th:if="${failMessage}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div th:text="${failMessage}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div th:if="${failure}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div th:text="${failure}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div th:if="${fileNotUploaded}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div th:text="${fileNotUploaded}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <div th:if="${exceptionMessage}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div th:text="${exceptionMessage}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>


            <form action="#" th:action="@{/result}" th:object="${command}" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option1" class="custom-control-input" value="paste" checked="checked" th:field="*{radioButtonSelectedValue}">
                        <label class="custom-control-label" for="option1">Paste results</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option2" class="custom-control-input" value="upload" th:field="*{radioButtonSelectedValue}">
                        <label class="custom-control-label" for="option2">Upload file</label>
                    </div>
                </div>

                <div id="textArea"  class="form-group col-sm-6" style='display:none;'>
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>
                <textarea rows="8" cols="60" th:field="*{textareaField}" ></textarea>
                </div>

                <div id="fileUpload"  class="form-group col-sm-6" style='display:none;'>
                    <label for="file">Select a CSV file</label>
                    <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                </div>

                <div id="submit" class="form-group" style="margin-top:5px; display:none;">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

                <div id="note" class="card" style="width: 20rem;display:none;margin-left:100px; margin-top:40px">
                    <div class="card-body">
                        <h6 class="card-title">Note:</h6>
                        <p class="card-text" style="font-size:13px;" >Pasting multiple results should be delimited by <b>!</b></p>
                        <p class="card-text" style="font-size:11px;">e.g. 66215,lsdyna,ls-3cars,1,48,pluto16,1141,7f72 <b>!</b> 66216,lsdyna,ls-3cars,1,48,pluto21,1139,7f72</p>
                </div>
                </div>

                <div id="noteFile" class="card" style="width: 45rem;display:none;margin-top:40px">
                    <div class="card-body">
                        <h6 class="card-title">Note:</h6>
                        <p class="card-text" style="font-size:13px;" >Please remove header from csv file. </p>
                        <p class="card-text" style="font-size:10px;">Column order: Job Id, App_Name, Benchmark, Nodes, Cores, node_name, Result, CPU, OS, BIOS, Cluster, User, Platform, cpu_generation, Run_type, Workload </p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>


<script>


$(function() {
    $("input[type=\"radio\"]").click(function(){
        var thisElem = $(this);
        var value = thisElem.val();
        localStorage.setItem("option", value);
     });
    var itemValue = localStorage.getItem("option");
    if (itemValue !== null) {
        $("input[value=\""+itemValue+"\"]").click();
    }

});



$("#option1")
    .change(function(){
        if( $(this).is(":checked") ){
            var val = $(this).val();
            if(val === "paste"){
             $("#fileUpload").hide();
             $("#textArea").show();
             $("#submit").show();
             $("#noteFile").hide();
             $("#note").show();
            }
        }
    });


$("#option2")
    .change(function(){
        if( $(this).is(":checked") ){
            var val = $(this).val();
            if(val === "upload"){
             $("#textArea").hide();
             $("#fileUpload").show();
             $("#submit").show();
             $("#note").hide();
             $("#noteFile").show();

            }
        }
    });

<!--radiobtn = document.getElementById("option1");-->
<!--radiobtn.checked = true;-->

<!-- if( radiobtn.checked == true ){-->
<!--            if(radiobtn.value === "paste"){-->
<!--            }-->
<!--        }-->


</script>

</body>
</html>