<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link rel="icon" th:href="@{assets/favicon.ico}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>Charts</title>
    <style>
#ctx{

  width:460px !important;
  height:550px !important;

}
    </style>

</head>

<div th:insert="~{fragments/header :: header}">...</div>

<br>

<div class="container-fluid" style="max-width:1500px; padding:0;">
    <div class="row" >
        <div class="col-sm-2 dropdown">
            <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">

                <option value="" selected="true" disabled="disabled">-- CPU --</option>

                <optgroup th:each="cpuGen : ${cpuMap}"
                          th:label="${cpuGen.key}">
                    <option th:each="cpu : ${cpuGen.value}"
                            th:value="${cpu}"
                            th:text="${cpu}">
                    </option>
                </optgroup>


            </select>
        </div>

    </div>


    <div class="row" style="margin-top: 8px;">
        <div id="type" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="typeDrop" name="typeDrop">
                <option value="" selected="true" disabled="disabled">-- Run Type --</option>
            </select>
        </div>

    </div>

    <div class="row" style="margin-top: 8px;">
        <div id="app" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                <option value="" selected="true" disabled="disabled">-- App --</option>
            </select>
        </div>

    </div>

    <div id="radio" class="form-group" style="margin-top: 16px; display:none;" >
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option1" name="option" class="custom-control-input" value="node">
            <label class="custom-control-label" for="option1">Single Node</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option2" name="option" class="custom-control-input" value="bench">
            <label class="custom-control-label" for="option2">Scaling</label>
        </div>
    </div>

</div>

<div class="container-fluid" style="max-width:1300px; overflow-x:auto;">

    <div class="row">

        <div id="nodeChart" class="col-md-6 mt-2 mb-2" style='display:none;'>
            <canvas id="nodeBarChart" width="450" height="300" role="img"></canvas>
        </div>

    </div>
    <div class="row">
        <div id="comment" class="row" style="margin-left: 500px; display:none;">
            <p style="font-weight: bold;font-size:12px;text-align:left;font-family:verdana;">*Lower is better</p>
        </div>
        <div class="table-responsive col-md-12 mt-3 mb-3" id="tableNode"></div>

    </div>

    <div class="row">

        <div id="noChart"  style="display:none;margin-top: 50px;margin-left: 12px">
            <h5>No scaling data available!</h5>
        </div>

         <div id="multiChart" class="col-md-5 mt-2 mb-2" style='display:none;padding:0;'>
             <canvas id="ctx" role="img"></canvas>
         </div>

    </div>

    <div class="row">

        <div class="col-md-12 mt-5 mb-5">
            <div class="table-responsive" id="tableScaling"></div>
        </div>
    </div>

</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/customCharts.js}"></script>


</body>
</html>