<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link rel="icon"
          th:href="@{assets/favicon.ico}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>Data</title>
    <style>
    #ctx{

  width:460px !important;
  height:550px !important;

}
    </style>

</head>

<div th:insert="~{fragments/header :: header}">...</div>

<br>


<div class="container-fluid" style="max-width:1460px; padding:0;">

    <div class="row" >

        <div id="workloadCheckBox" style="display:none;margin-left:12px" >

        </div>

    </div>

    <div class="row" style="margin-top:20px; ">

<!--        <div class="col-sm-2 dropdown">-->
<!--            <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">-->

<!--                <option value="" selected="true" disabled="disabled">&#45;&#45; CPU &#45;&#45;</option>-->

<!--                <optgroup th:each="cpuGen : ${cpuMap}"-->
<!--                          th:label="${cpuGen.key}">-->
<!--                    <option th:each="cpu : ${cpuGen.value}"-->
<!--                            th:value="${cpu}"-->
<!--                            th:text="${cpu}">-->
<!--                    </option>-->
<!--                </optgroup>-->


<!--            </select>-->
<!--        </div>-->


        <div class="col-sm-2 dropdown">
            <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">
                <option value="" selected="true" disabled="disabled">-- CPU --</option>
            </select>
        </div>


    </div>





    <div class="row" style="margin-top: 8px;">
        <div id="type" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="typeDrop" name="typeDrop">
                <option value="" selected="true" disabled="disabled">-- Run Type --</option>
            </select>
        </div>

    </div>


    <div class="row" style="margin-top: 8px;">
        <div id="app" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                <option value="" selected="true" disabled="disabled">-- App --</option>
            </select>
        </div>

    </div>

</div>
<br>

<div class="container-fluid" style="max-width:1300px; overflow-x:auto;padding:0;">



<!--        <div id="noChart"  style="margin-top: 50px;margin-left: 12px">-->
<!--            <h5>No scaling data available!</h5>-->
<!--        </div>-->

        <div id="multiChart" class="col-md-5 mt-2 mb-2" style='display:none;padding:0;'>
            <canvas id="ctx" role="img"></canvas>
        </div>




    <h6 style="margin:0px;display:none;" id="p1">Perf Metric</h6>
    <div class="table-responsive" id="table"></div>

    <h6 style="margin-top:20px;margin-bottom:12px; display:none;" id="p2">Scaling</h6>
    <div class="table-responsive" id="tableScaling" style=""></div>

    <h6 style="margin-top:20px;margin-bottom:12px; display:none;" id="p3">Variance</h6>
    <div class="table-responsive" id="tableCV" style=""></div>

    <h6 style="margin-top:20px;margin-bottom:12px; display:none;" id="p4">Run Count</h6>
    <div class="table-responsive" id="tableCount" style=""></div>

</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.js}"></script>
<script type="text/javascript" th:src="@{assets/datatable/datatables.js}"></script>
<script type="text/javascript" th:src="@{assets/custom/data.js}"></script>


</body>
</html>